$main-font: "Montserrat", sans-serif;
$very-light-grayish-blue: hsl(240, 80%, 98%);
$light-grayish-Blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-Blue: hsl(232, 13%, 33%);
$linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
