.background {
  background: $very-light-grayish-blue url(../images/bg-top.svg) no-repeat top
    right;
  background-position: 13em -3em;
  padding-bottom: 50px;
}

@include screen-m {
  .background {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position: top right, left bottom;
    padding-bottom: 105px;
  }
}
